body {
    font-family: 'Roboto';
}

.less, .cube {
    cursor: pointer;
}

.calc {
    height: 514px;
    width: 258px;
    background-color: #636363; 
    color: white;
}

.head {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-size: 12px;
    padding-left: 10px;
}

.less {
    height: 14px;
    width: 14px;
    padding-top : 10px;
    padding-left: 90px;
}

.cube {
    height: 14px;
    width: 14px;
    padding-top : 10px;
    padding-left: 20px;
}

.close {
    height: 14px;
    width: 14px;
    padding-top : 10px;
    padding-left: 20px;
}

.before-screen {
    display: flex;
    flex-wrap: wrap;
}

.stand {
    padding-left: 20px;
    margin-top: 1.5px;
}

.list {
    height: 14px;
    width: 14px;
    padding-left: 10px;
    padding-top: 5px;
}

.chrono {
    height: 14px;
    width: 14px;
    padding-left: 122px;
    padding-top: 5px;
}

.top {
    height: 100px;
    width: 95.5%;
    margin: 0 auto;
    text-align: right;
    font-size: 45px;
}

.post-screen{
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.items_1 {
    color: #828282;
    font-size: 13px;
    padding-left: 5px;
}

.items_2 {
    color: #828282;
    font-size: 13px;
}

.items_3 {
    font-size: 13px;
}

.items_4 {
    font-size: 13px;
}

.items_5 {
    font-size: 13px;
}

.items_6 {
    color: #828282;
    font-size: 13px;
}

.line0, .line1, .line2, .line3, .line4, .line5{
    display: flex;
    flex-wrap: wrap;
}

.pourcent-box {
    height: 47px;
    width: 61px;
    background-color: #404040;
    margin-left: 4px;
    text-align: center;
    color: #828282;
}

.pourcent-box, :hover {
    cursor: pointer;
}

.val-box, .carre-box, .oneX-box {
    height: 47px;
    width: 61px;
    background-color: #404040;
    color: #828282;
    margin-left: 2px;
    text-align: center;
}

.val-box, .carre-box, .oneX-box, :hover {
    cursor: pointer;
}

.box-clear_entry, .plus_moins-box{
    height: 47px;
    width: 61px;
    background-color: #404040;
    color: #828282;
    margin-left: 4px;
    margin-top: 2px;
    text-align: center;
}

.box-clear_entry, .plus_moins-box, :hover{
    cursor: pointer;
}

.box-seven, .box-fourth, .box-one  {
    height: 47px;
    width: 61px;
    background-color: #202020;
    margin-left: 4px;
    margin-top: 2px;
    text-align: center;
}

.box-seven, .box-fourth, .box-one, :hover {
    cursor: pointer;
}

.box-clear, .box-delete, .box-division, .box-multiplication, .box-soustraction, .box-addition, .box-virgule, .box-egal {
    height: 47px;
    width: 61px;
    background-color: #404040;
    color: #828282;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
}

.box-clear, .box-delete, .box-division, .box-multiplication, .box-soustraction, .box-addition, .box-virgule, .box-egal, :hover {
    cursor: pointer;
}

.box-eight, .box-nine, .box-six, .box-five, .box-two, .box-three, .box-zero{
    height: 47px;
    width: 61px;
    background-color: #202020;
    margin-left: 2px;
    margin-top: 2px;
    text-align: center;
}

.box-eight, .box-nine, .box-six, .box-five, .box-two, .box-three, .box-zero, :hover{
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
}

.btn {
    margin: 5px;
    height: 30px;
    width: 30px;
    background-color: rgb(150, 178, 202);
    text-align: center;
}

.hidden {
    display: none;
}










